<div th:fragment="footer">
    <footer class="bg-dark text-white pt-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>About Us</h5>
              <p>Learn more about our company and what we offer.</p>
              <br>
              <p><a class="text-decoration-none" th:href="@{/admin/dashboard}"><span><i class="bi bi-database"></i> Administrator</a></span></p>
            </div>
            <div class="col-md-4">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                <li><a href="mailto:info@yourcompany.com" class="text-white">Email: info@yourcompany.com</a></li>
                <li><a href="tel:+1234567890" class="text-white">Phone: +123 456 7890</a></li>
                <li><a href="#" class="text-white">Address: 123 Your Street, Your City</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Follow Us</h5>
              <a href="https://www.facebook.com/profile.php?id=100063728581507" target="_blank" class="text-white me-2"><i class="bi bi-facebook fs-4"></i></a>
              <a href="https://api.whatsapp.com/send?phone=%2B27658158002&context=ARAAF7lSCEVUQZspMb4Nw-rzug4T0Kb8vdIezWAjZw-9A1KZtOCgKJ-HwzkJX8VZr5lLdWN4xSchAbNXtGwTvMhCHthSl62d9vg0H-w2A9gk5a736PCk1UpsQeITg5Q-o-RML7pedjrJTI0z5bKTNMJ_Xg&source=FB_Page&app=facebook&entry_point=page_cta" class="text-white me-2 alert"><i class="bi bi-whatsapp fs-4"></i></a>
              <a href="https://www.instagram.com/sanienterprise?igsh=NTc4MTIwNjQ2YQ==" target="_blank" class="text-white me-2"><i class="bi bi-instagram  fs-4"></i></a>
            </div>
          </div>
          <div class="text-center py-3">
            © 2024 Sani Enterprises. All rights reserved.
          </div>
        </div>
      </footer>
      
      <!-- Add Font Awesome for social icons -->
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
      
</div>