<div th:fragment="footer" class="mt-auto">
    <footer class="bg-dark text-white pt-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>About Us</h5>
              <p>Learn more about our company and what we offer.</p>
              <br>
              <p><a class="text-decoration-none" th:href="@{/admin/dashboard}"><span><i class="bi bi-database"></i> Administrator</a></span></p>
            </div>
            <div class="col-md-4">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                
                <div th:each="sc : ${socials}">
                  <li th:if="${sc.social} == 'GOOGLE'"><a th:href="${sc.url}" class="text-white text-decoration-none">Email: <span th:text="${sc.handle}">SOCIAL_HANDLE</span></a></li>
                  <li th:if="${sc.social} == 'WHATSAPP'"><a href="tel:0658158002" class="text-white text-decoration-none">Phone: <span th:text="${sc.handle}">PHONE_NUMBERS</span></a></li>
                </div>
                <li><a href="https://maps.app.goo.gl/9NJ2oN4EVik7x1dx6" target="_blank" class="text-white text-decoration-none">Address: 138 Justice Mohammed, Brooklyn , Pretoria, South Africa, 0002</a></li>

              </ul>
            </div>
            <div class="col-md-4">
              <h5>Follow Us</h5>

              <div th:each="sc : ${socials}">
                <a th:if="${sc.social} == 'FACEBOOK'" th:href="${sc.url}" target="_blank" class="text-white me-2 text-decoration-none"><i class="bi bi-facebook fs-4"></i> <span th:text="${sc.handle}">SOCIAL_HANDLE</span></a>
                <a th:if="${sc.social} == 'WHATSAPP'" th:href="${sc.url}" target="_blank" class="text-white me-2 text-decoration-none"><i class="bi bi-whatsapp fs-4"></i> <span th:text="${sc.handle}">SOCIAL_HANDLE</span></a>
                <a th:if="${sc.social} == 'INSTAGRAM'" th:href="${sc.url}" target="_blank" class="text-white me-2 text-decoration-none"><i class="bi bi-instagram  fs-4"></i> <span th:text="${sc.handle}">SOCIAL_HANDLE</span></a>
              </div>
              
            </div>
          </div>
          <div class="text-center py-3">
            © 2024 Sani Enterprises. All rights reserved.
          </div>
        </div>
      </footer>
      
      <!-- Add Font Awesome for social icons -->
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
      
</div>